<tr>
  <td><%= employment_history_item_mini.id %></td>
  <td><%= employment_history_item_mini.created_at %></td>
  <td><%= employment_history_item_mini.updated_at %></td>
  <td><%= employment_history_item_mini.company_name %></td>
  <td><%= employment_history_item_mini.company_role %></td>
  <td><%= employment_history_item_mini.role_description %></td>
  <td><%= employment_history_item_mini.date_from %></td>
  <td><%= employment_history_item_mini.date_to %></td>
  <td><%= employment_history_item_mini.location %></td>
  <td><%= link_to "Show", admin_employment_history_item_path(employment_history_item_mini) %></td>
  <td><%= link_to 'Edit', edit_admin_employment_history_item_path(employment_history_item_mini) %></td>
  <td><%= link_to 'Delete', admin_employment_history_item_path(employment_history_item_mini), :confirm => "Are you sure you want to delete this Employment history item?", :method => :delete %></td>
</tr>