<%= bootstrap_page_header :h1 do %>
  Posts Admin
  <%= bootstrap_sub_header do %>
    <%= link_to "New Post", new_admin_post_path %>
  <% end %>
<% end %>

<% if @posts.empty? %>
  <p>There are currently no posts.</p>
<% else %>
  <table>
    <thead>
              <th>id</th>
              <th>title</th>
              <th>body</th>
              <th>author_id</th>
              <th>published_on</th>
              <th>created_at</th>
              <th>updated_at</th>
              <th>permalink</th>
              <th>category_id</th>
          </thead>

    <%= render :partial => 'post_mini', :collection => @posts %>
  </table>
<% end %>

<%= will_paginate %>