<%= bootstrap_page_header :h1 do %>
  Posts Admin
  <%= bootstrap_sub_header do %>
    <%= link_to "New Post", new_admin_post_path %>
  <% end %>
<% end %>

<% if @posts.empty? %>
  <p>There are currently no posts.</p>
<% else %>
  <table>
    <thead>
      <th>Id</th>
      <th>Author</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Permalink</th>
      <th>Title</th>
      <th>Body</th>
      <th>Published on</th>
      <th>Category</th>
    </thead>

    <%= render :partial => 'post_mini', :collection => @posts %>
  </table>
<% end %>

<%= will_paginate %>