<%= bootstrap_page_header :h1 do %>
  Posts Admin
  <%= bootstrap_sub_header do %>
    <%= link_to "Back", :back %>
  <% end %>
<% end %>

<ol>
  <li>
    <strong>Id:</strong>
    <%= @post.display_name %>
  </li>
  <li>
    <strong>Author:</strong>
    <%= @post.display_name %>
  </li>
  <li>
    <strong>Created at:</strong>
    <%= @post.display_name %>
  </li>
  <li>
    <strong>Updated at:</strong>
    <%= @post.display_name %>
  </li>
  <li>
    <strong>Permalink:</strong>
    <%= @post.display_name %>
  </li>
  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>
  <li>
    <strong>Body:</strong>
    <%= @post.body %>
  </li>
  <li>
    <strong>Published on:</strong>
    <%= @post.published_on %>
  </li>
  <li>
    <strong>Category:</strong>
    <%= @post.category.display_name %>
  </li>
</ol>