<%= bootstrap_page_header :h1 do %>
  Posts Admin
  <%= bootstrap_sub_header do %>
    <%= link_to "Back", :back %>
  <% end %>
<% end %>


<ol>
  
    <li><strong>id:</strong> <%= @post.id %></li>
  
    <li><strong>title:</strong> <%= @post.title %></li>
  
    <li><strong>body:</strong> <%= @post.body %></li>
  
    <li><strong>author_id:</strong> <%= @post.author_id %></li>
  
    <li><strong>published_on:</strong> <%= @post.published_on %></li>
  
    <li><strong>created_at:</strong> <%= @post.created_at %></li>
  
    <li><strong>updated_at:</strong> <%= @post.updated_at %></li>
  
    <li><strong>permalink:</strong> <%= @post.permalink %></li>
  
    <li><strong>category_id:</strong> <%= @post.category_id %></li>
  
</ol>