<%= bootstrap_page_header :h1 do %>
  Login
  <%= bootstrap_sub_header do %>
    <%= link_to "Back", :back %>
  <% end %>
<% end %>


<%= render :partial => 'shared/available_oauth_providers', :locals => { :verb => "login" } %>

<%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-vertical" } do |f| %>
  <%= f.label :login, 'Login (email or username):' %>
  <%= f.text_field :login %>

  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
      <label for="remember_me" class="checkbox"><%= f.check_box :remember_me %> Remember me</label>
  <% end -%>

  <%= f.submit "Login" %>

<% end %>

<%= render :partial => "devise/shared/links" %>
