<div class="picture">
	<h3><%= link_to picture.title, picture_path(picture) %></h3>
	<div class="mini_picture_display">
		<%= image_tag picture.picture.url(:thumbnail), :alt => picture.title %>
	</div>
	<p class="author">Posted by <span><%= picture.author.username %></span> on <span><%= published_on_text(picture) %></span></p>
	<p class="body"><%= picture.description %></p>
</div>
	