<tr>
  <td><%= category_mini.id %></td>
  <td><%= category_mini.author.username %></td>
  <td><%= category_mini.name %></td>
  <td><%= category_mini.updated_at %></td>
  <td><%= link_to "Show", admin_category_path(category_mini) %></td>
  <td><%= link_to 'Edit', edit_admin_category_path(category_mini) %></td>
  <td><%= link_to 'Delete', admin_category_path(category_mini), :confirm => "Are you sure you want to delete this Category?", :method => :delete %></td>
</tr>
