<%= bootstrap_page_header :h1 do %>
  Categories Admin
  <%= bootstrap_sub_header do %>
    <%= link_to "Back", :back %>
  <% end %>
<% end %>

<ol>
  <li>
    <strong>Id:</strong>
    <%= @category.display_name %>
  </li>
  <li>
    <strong>Author:</strong>
    <%= @category.display_name %>
  </li>
  <li>
    <strong>Permalink:</strong>
    <%= @category.display_name %>
  </li>
  <li>
    <strong>Created at:</strong>
    <%= @category.display_name %>
  </li>
  <li>
    <strong>Updated at:</strong>
    <%= @category.display_name %>
  </li>
  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>
</ol>