<div id="post_page">
  <h2><%= @post.title %></h2>
  
  <p class="author">Posted by <span><%= @post.author.username %></span> on <span><%= published_on_text(@post) %></span></p>
  <p class="body"><%= raw(@post.body) %></p>
  <% unless @post.tags.empty? %>
    <p class="tags">
      <span class="tag_label">Tagged with:</span> 
      <% @post.tags.each do |t| %>
        <%= link_to t.name, {:tag => t.name, :action => :tagged, :controller => :posts} %>
      <% end %>
    </p>
  <% end %>
  
  
  <div class="comments">
    <%= link_to "Add Comment", new_post_comment_path(@post) unless current_user.nil? %>
    
    <%= render :partial => 'comments/comment', :collection => @post.comments %>
  </div>
</div>