<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		
		<div id="header">
			<div id="logo"><h1>Test</h1></div>
			<%= render :partial => 'shared/login_nav' %>
		</div>
		
		
		<%= render :partial => 'admin/shared/admin_nav' %>

		<div id="content_admin">
		  <div id="admin_main">
			  <%= yield %>
			</div>
		</div>

	</div>
</body>
</html>
