<!DOCTYPE html>
<html lang="en">
<head>
  <title>TheMitchell</title>

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

  <meta name="viewport" content="initial-scale=1.0; minimum-scale=1.0">
</head>
<body>
  <header>
    <div class="container">
        <div id='branding'><span>The</span>Mitchell</p>
    </div>
  </header>

  <nav id="main-nav">
    <%
      render_tabnav :class => "container" do |n|
        # n.add_tab do |t|
        #   t.named "Categories"
        #   t.links_to admin_categories_path
        #   t.highlights_on :controller => :categories
        # end
        n.add_tab do |t|
          t.named "Posts"
          t.links_to admin_posts_path
          t.highlights_on :controller => :posts
        end
        # n.add_tab do |t|
        #   t.named "Educational Qualifications"
        #   t.links_to admin_educational_qualifications_path
        #   t.highlights_on :controller => :educational_qualifications
        # end
        # n.add_tab do |t|
        #   t.named "Employment History"
        #   t.links_to admin_employment_history_items_path
        #   t.highlights_on :controller => :employment_history_items
        # end
      end
    %>
  </nav>

  <div id="main" class="admin">
    <div class="container">
      <div id="page-content full">
        <%= render :partial => 'shared/flash_messages' %>

        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>
        All content © Andrew Mitchell 2011 |
        <a href="mailto:themitchell@me.com">themitchell@me.com</a>
      </p>
    </div>
  </footer>
</body>
</html>
