<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">  
    <%= render :partial => 'shared/flash_messages' %>
      
    <div id="header">
      <h1>Andrew Mitchell :: Online Portfolio</h1>
      <%= render :partial => 'shared/login_nav' %>
    </div>

    <%= render :partial => 'shared/nav' %>

    <div id="content">      
      <div id="main">
        <%= yield %>
      </div>
      <%= render :partial => 'shared/side' %>
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
