<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  
  <meta name="viewport" content="initial-scale=1.0; minimum-scale=1.0">
</head>
<body>
<div class="container">
  <header>
    <div id="main_logo">Andrew Mitchell :: Online Portfolio</div>

    <div id="user_info">
      <%= render :partial => 'shared/login_nav' %>
      <%= render :partial => 'shared/flash_messages' %>
    </div>
  </header>
  
  <%= render :partial => 'shared/nav' %>
  
  <div id="content">
    <%= yield %>
  </div>

  <footer>
    <div>
  	  <p>All content © Andrew Mitchell 2011<p>
  	  <a href="mailto:themitchell@me.com">themitchell@me.com</a>
  	</div>
  </footer>
</div>
</body>
</html>
