<!DOCTYPE html>
<html lang="en">
<head>
  <title>TheMitchell</title>

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>

  <meta name="viewport" content="initial-scale=1.0; minimum-scale=1.0">
</head>
<body>
  <header>
    <div class="container">
        <div id='branding'><span>The</span>Mitchell</p>
    </div>
  </header>

  <nav id="main-nav">
    <%
      render_tabnav :class => "container" do |n|
        n.add_tab do |t|
          t.named "Blog"
          t.links_to posts_path
          t.highlights_on :controller => :blog
        end
        # n.add_tab do |t|
        #   t.named "About"
        #   t.links_to about_path
        #   t.highlights_on :controller => :static_pages, :action => :about
        # end
        # n.add_tab do |t|
        #   t.named "Photo Albums"
        #   t.links_to photoalbums_path
        #   t.highlights_on :controller => :photoalbums
        # end
        # n.add_tab do |t|
        #   t.named "Portfolio"
        #   t.links_to portfolio_path
        #   t.highlights_on :controller => :portfolio
        # end
      end
    %>
  </nav>
<!--
        <% if user_signed_in? %>
            <ul class="nav pull-right">
              <li><%= link_to "Welcome #{current_user.username}", edit_user_path(current_user) %></li>
              <li><%= link_to "Logout", destroy_user_session_path %></li>
            </ul>
        <% else %>
          <ul class="nav pull-right">
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></p></li>
          </div>
        <% end %> -->

        <!-- <div class="pull-right">
          <%#= render :partial => 'shared/flash_messages' %>
        </div> -->

  <div id="main">
    <div class="container">
      <div id="page-content">
        <%= yield %>
      </div>

      <aside>
        <%= yield :aside %>
        <p>Twiter Stuff etc</p>
      </aside>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>
        All content © Andrew Mitchell 2011 |
        <a href="mailto:themitchell@me.com">themitchell@me.com</a>
      </p>
    </div>
  </footer>
</body>
</html>
