<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <div class="full_width">
      <div id="main_logo" class="half_width left_side">Andrew Mitchell :: Online Portfolio</div>

      <div class="user_info half_width right_side">
        <%= render :partial => 'shared/login_nav' %>
        <%= render :partial => 'shared/flash_messages' %>
      </div>
    </div>
  </header>
  
  <%= render :partial => 'shared/nav' %>
  
  <div id="viewport">
    <div id="scrollable_area">
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class="full_width">
  	  <p>All content © Andrew Mitchell 2011<p>
  	  <a href="mailto:themitchell@me.com">themitchell@me.com</a>
  	</div>
  </footer>
</body>
</html>
